<!-- base.html -->
<!DOCTYPE html class="h-100">
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load static %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

    {% block reference %} {% endblock %}

    <title id = "title">
        {% block title %} {% endblock %}
    </title>
</head>
<body class="d-flex flex-column h-100">
    <div class = "container">
        <div class = "row">
            {% include 'header.html' %}
        </div>
        
        <div class = "row">
            {% block headmessage %} {% endblock %}
        </div>
        
        <div class = "row">
            {% block content %} {% endblock %}
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>