<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WordEditor</title>
</head>
<body>
    <h1>字集創建區</h1>
    {% if CharacterSet_list %}
        <ul>
        {% for CharacterSet in CharacterSet_list %}
            <li><a href="{% url 'words:VocabularyEditor' CharacterSet.pk %}">{{CharacterSet.set_name}}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No CharacterSet are available.</p>
    {% endif %}

    <form>
        <p><label for="set">新增字集：</label><input type="text" required name="character_set" id="set"></p>
        <input type="submit" name="add">
    </form>

    <strong><a href="{% url 'words:index' %}">回主頁</a></strong>
</body>
</html>
