{% extends 'base.html' %}
{% block title %} Your Profile {% endblock %}
{% block reference %}
{% csrf_token %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/UserProfile.css' %}">
<script src="{% static 'js/post_to_url.js' %}"></script>
<script>
	const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
	
	function deleteAccount() {
		var msg = "刪除此帳號後，您帳號內的資料也會一併清除，確認刪除嗎？\n\n請確認！";
		if (confirm(msg)==true){
	        post_to_url("{% url 'deleteAccount'%}", {"deleteAccount" : "Yes"});
	    } else{
	        return;
	    }
	}
	
	function reverse(id) {
		document.getElementById(id).disabled = !document.getElementById(id).disabled;
		return;
	}

	function checkPass() {
		pass = document.getElementById("pass");
		repass = document.getElementById("re-pass");

		if(pass.value != repass.value) {
			alert("新密碼與確認密碼不相同!");
			location.reload();
		} else {
			submit = document.getElementById("submit");
			submit.type = "submit";
			return;
		}
	}

	function checkInput() {
		username = document.getElementById("username");
		email = document.getElementById("email");
		pass = document.getElementById("pass");

		if(username.disabled) {
			nullInput("username");
		}
		if(email.disabled) {
			nullInput("email");
		}
		if(pass.disabled) {
			nullInput("pass");
		}
	}

	function nullInput(key) {
		var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", key);
        hiddenField.setAttribute("value", "");

		form = document.getElementById("infoForm");
        form.appendChild(hiddenField);
	}
</script>
<style>
    .autoBreak {
        word-break: break-all;
        min-width: 50px;
        max-width: 200px;
    }
</style>
{% endblock %}
{% block content %}
<section id="content" class="container">
	<!-- Begin .page-heading -->
	<div class="row">
		<div class="col-md-6">
			<a href="#"> <img class="media-object mw150" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="..."> </a>
		</div>
		<div class="col-md-4">
			<h2 class="media-heading">
				{{ username }}
				<small> - Profile</small>&nbsp;&nbsp;&nbsp;&nbsp;
				<button type="button" class="btn btn-outline-danger" onclick="deleteAccount();">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
						<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
					</svg>
				</button>
				<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editInfo">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
						<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
					</svg>
				</button>
			</h2>
			<p class="lead">Lorem ipsum dolor sit amet ctetur adicing elit, sed do eiusmod tempor incididunt</p>
		</div>
	</div>
	</div>
	<hr class="short br-lighter">
	<div class="row">
		<div class="col-md-4">
			<div class="container">
				<div class="row">
					<div class="col-1 align-self-center">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16">
							<path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
							<path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/>
						</svg>
					</div>
					<div class="col-9">
						<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#Photo">
						<strong>My Photo</strong>
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-1">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-square" viewBox="0 0 16 16">
							<path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
							<path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
						</svg>
					</div>
					<div class="col-9">
						<span><strong>User Information</strong></span>
					</div>
					<span class="autoBreak">
						email:
						<br>{{email}}
					</span>
					<span>
						最後登入時間:
						<br>{{last_login}}
					</span>
					<span>
						註冊時間:
						<br>{{date_joined}}
					</span>
				</div>
				<div class="row">
					<div class="col-1">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
							<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
							<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
						</svg>
					</div>
					<div class="col-9">
						<span><strong>About Me</strong></span> 
					</div>
					<h6>Experience</h6>
					<h4>Facebook Internship</h4>
					<p class="text-muted"> University of Missouri, Columbia
						<br> Student Health Center, June 2010 - 2012 
					</p>
					<hr class="short br-lighter">
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<ul class="nav nav-tabs">
				<li><input type="radio" class="btn-check" name="options-outlined" id="CharacterSet" autocomplete="off" onclick="location.href='{% url 'UserProfile' 'CharacterSet' %}'">
					<label class="btn btn-outline-primary" for="CharacterSet">
					字集
					</label>
				</li>
				<li><input type="radio" class="btn-check" name="options-outlined" id="score" autocomplete="off" onclick="location.href='{% url 'UserProfile' 'score' %}'">
					<label class="btn btn-outline-primary" for="score">
					測驗成績
					</label>
				</li>
			</ul>
			{% if CharacterSet_list %}
			<table class = "table table-striped">
				{% for CharacterSet in CharacterSet_list %}
				<tbody>
					<tr>
						<td>
							<h5><strong><mark>{{CharacterSet.set_name}}</mark></strong></h5>
						</td>
					</tr>
				</tbody>
				{% endfor %}
			</table>
			{% elif Score_list %}
			<h5>此功能還在測試，尚未實裝</h5>
			{% elif not CharacterSet_list %}
			<h5>No CharacterSet are available.</h5>
			{% endif %}
		</div>
	</div>
</section>
<!-- Modal -->
<div class="modal fade" id="Photo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">請選擇您的頭像</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form action="#" method="GET">
				<div class="modal-body">
					<div class="container">
						<div class="row">
							<div class="col">
								<input type="radio" class="btn-check" name="photo-options" id="option1" autocomplete="off" value="100" required>
								<label class="btn btn-outline-primary" for="option1">
								<img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="..."  width="50%">
								</label>
							</div>
							<div class="col">
								<input type="radio" class="btn-check" name="photo-options" id="option4" autocomplete="off" value="400" required>
								<label class="btn btn-outline-primary" for="option4">
								<img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="..."  width="50%">
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<input type="radio" class="btn-check" name="photo-options" id="option3" autocomplete="off" value="300" required>
								<label class="btn btn-outline-primary" for="option3">
								<img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="..."  width="50%">
								</label>
							</div>
							<div class="col">
								<input type="radio" class="btn-check" name="photo-options" id="option2" autocomplete="off" value="200" required>
								<label class="btn btn-outline-primary" for="option2">
								<img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="..."  width="50%">
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<input type="submit"  class="btn btn-primary">
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="editInfo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">編輯您的個人資訊</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form action="{% url 'editUserInfo'%}" method="POST" id="infoForm">
			{% csrf_token %}
				<div class="modal-body">
					<small class="text-secondary">請啟用想修改的資訊的輸入框，只要點擊左側圖案即可啟用；再次點擊可以關閉</small>
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1" onclick = "reverse('username');">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
								<path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
							</svg>
						</span>
						<input type="text" class="form-control" id="username" name = "username" placeholder="使用者名稱" pattern="^[a-zA-Z][0-9a-zA-Z_]*" title="帳號名稱開頭不可為數字，且內容只可為英文大小寫其中不可含有特殊字元(除了底線_)" disabled required>
					</div>
					<small class="text-danger">請注意！密碼修改完成後將會自動登出</small>
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1" onclick = "reverse('pass');reverse('re-pass');">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
								<path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
							</svg>
						</span>
						<input type="password" class="form-control" id="pass" name = "pass" placeholder="新密碼" pattern="^((?=.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*|(?=.{8,}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!\u0022#$%&'()*+,./:;<=>?@[\]\^_`{|}~-]).*)" minlength="8" title="請最少輸入8位以上的大小寫英文與數字以及特殊符號" disabled required>
					</div>
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1" onclick = "reverse('pass');reverse('re-pass');">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
								<path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
							</svg>
						</span>
						<input type="password" class="form-control" id="re-pass" placeholder="確認密碼" pattern="^((?=.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*|(?=.{8,}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!\u0022#$%&'()*+,./:;<=>?@[\]\^_`{|}~-]).*)" minlength="8" title="請最少輸入8位以上的大小寫英文與數字以及特殊符號" disabled required>
					</div>
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1" onclick = "reverse('email');">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-open" viewBox="0 0 16 16">
								<path d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.818l5.724 3.465L8 8.917l1.276.766L15 6.218V5.4a1 1 0 0 0-.53-.882l-6-3.2zM15 7.388l-4.754 2.877L15 13.117v-5.73zm-.035 6.874L8 10.083l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738zM1 13.117l4.754-2.852L1 7.387v5.73zM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765l6-3.2z"/>
							</svg>
						</span>
						<input type="text" class="form-control" id="email" name = "email" placeholder="Email" pattern="^\w+((-\w+)|(\.\w+))*[@][A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]{2,4}$" title="此電子郵件地址無效。請務必確認其格式為 example@email.com" disabled required>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="location.reload();">Close</button>
					<button type="button" id="submit" class="btn btn-primary" onclick="checkPass();checkInput();">Save Change</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	window.onload=switchSite;
	var CharacterSetButton = document.getElementById("CharacterSet");
	var ScoreButton = document.getElementById("score");
	function switchSite(){
		if(location.pathname == "/userprofile/CharacterSet/") {
			CharacterSetButton.checked = true;
			ScoreButton.checked = false;
		} else if(location.pathname == "/userprofile/score/") {
			CharacterSetButton.checked = false;
			ScoreButton.checked = true;
		}
	}
</script>
{% endblock %}