<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>單字創建區</h1>
    {% if Vocabulary_list %}
        <ul>
        {% for Vocabulary in Vocabulary_list %}
            <li><a href="{% url 'words:MeaningEditor' Vocabulary.pk %}">{{Vocabulary.english}}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No Vocabulary are available.</p>
    {% endif %}

    <form>
        <p><label for="voc">新增單字：</label><input type="text" required name="vocabulary" id="voc"></p>
        <input type="submit" name="add">
    </form>

    <strong><a href="{% url 'words:CharacterSetEditor' %}">go back?</a></strong>
</body>
</html>
